body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 40px;
}

li {
  color: black;
  list-style: none;
  font-size: 15px;
  height: 50px !important;
}

#search {
  width: 90%;
  position: relative;
  left: 10%;
}

.add-button {
  float: right;
}

.controls-container {
  margin: 5px;
}

.create-title {
  font-size: 30px;
}

.create-wrapper {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.home {
  position: relative;
  left: 500px;
}

.input-field label i, .create-title {
  color: rgb(158, 158, 158);
  position: relative;
  left: 10px;
}

.input-field-home, .playlist-container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  height: 60px !important;
  position: relative;
  width: 100% !important;

}

.play-btn {
  background-color: transparent;
  border: 1px solid #FC561E;
  border-radius: 3px;
}

.playlist-wrapper {
  text-align: center
}

.player {
  background-color: #fff;
  border-top: 1px solid #2D2D11;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.sb-soundplayer-play-icon {
  background-color: transparent;
  height: 20px;
  color: #FC561E;
  border-radius: 3px;
}

.sb-soundplayer-timer {
  margin-top: 10px;
}

.search-icon {
  position: relative;
  left: 20px;
  top: 5px;
}

.search-results {
  font-size: 14px !important;
}

.search-results li {
  float: none !important;
  left: 7%;
  position: relative;
  width: 90%;
}

.side-nav {
  width: 400px;
}

.subheader {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.song-title {
  display: inline;
  margin-left: 20px;
}
