li {
  color: black;
  list-style: none;
  font-size: 15px;
  height: 50px !important;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  display: inline;
  line-height: 110%
}

.add-button {
  float: right;
}

.input-field label i, .create-title {
  color: rgb(158, 158, 158);
  position: relative;
  left: 10px;
}

#search {
  width: 90%;
  position: relative;
  left: 7%;
}

.home {
  position: relative;
  left: 500px;
}

 .create-title {
  left: 20%;
 }

.input-field, .search-results, .playlist-container {
  width: 60%;
  left: 20%;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.player {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #2D2D11;
  bottom: 0;
}

.sb-soundplayer-play-icon {
  background-color: transparent;
  height: 20px;
  color: #FC561E;
  border-radius: 3px;
}

.search-results li{
  float: none !important;
  left: 7%;
  width: 90%;
  position: relative;
}

.side-nav {
  width: 400px;
}

.play-btn {
  background-color: transparent;
  border: 1px solid #FC561E;
  border-radius: 3px;
}

.controls-container {
  margin: 5px;
}
