li {
  color: black;
  list-style: none;
  font-size: 15px;
  height: 50px !important;
}

.add-button {
  float: right;
}

.input-field label i, .create-title {
  color: rgb(158, 158, 158);
  position: relative;
  left: 10px;
}

#search {
  width: 90%;
  position: relative;
  left: 7%;
}

.home {
  position: relative;
  left: 500px;
}

 .create-title {
  left: 20%;
 }

.input-field, .search-results, .playlist-container {
  width: 60%;
  left: 20%;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.search-results li{
  float: none !important;
  left: 7%;
  width: 90%;
  position: relative;
}

.side-nav {
  width: 400px;
}
